<% title "Emoticons" %>

<% if policy(Emoticon).new? %>
  <ul class="administration">
    <li><%= link_to 'New Emoticon', new_emoticon_path %></li>
  </ul>
<% end %>

<% if @emoticons %>
  <ul class="media-list">
    <% @emoticons.each do |emoticon| %>
      <li class="media">
        <div class="media-body">
          <h2><%= emoticon.name %></h2>
          <% if policy(emoticon).destroy? %>
            <ul class="administration">
              <li>
                <%= link_to 'Delete Emoticon', emoticon, data: {
                  confirm: 'Are you sure?' }, method: :delete %>
              </li>
            </ul>
          <% end %>
          <p><%= image_tag emoticon.emoticon.url %> <%= emoticon.code %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @emoticons %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Emoticons</li>
</ol>
