<% title "Emoticons" %>

<% if policy(Emoticon).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_emoticon_path, class: 'item' do %>
      <i class="upload icon"></i> New Emotion
    <% end %>
  </div>
<% end %>

<% if @emoticons %>
  <div id="ui very relaxed list">
    <% @emoticons.each do |emoticon| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= emoticon.name %></h2>
          </div>
          <% if policy(emoticon).destroy? %>
            <div class="ui one item stackable menu">
              <%= link_to emoticon, data: { confirm: 'Are you sure?' }, 
                method: :delete, class: 'item' do %>
                <i class="trash icon"></i> Delete Emoticon
              <% end %>
            </div>
          <% end %>
          <p><%= image_tag emoticon.emoticon.url %> <%= emoticon.code %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @emoticons %>
<% end %>
