<%= nested_form_for @quiz do |f| %>
  <%= render 'shared/form/error_messages', model: @quiz %>
  <%= render 'shared/form/contributors', model: @quiz, f: f %>
  <%= render 'shared/form/name', f: f %>
  <%= render 'shared/form/description', f: f %>
  <div>
    <label>Questions</label>
    <%= f.fields_for :quiz_questions %>
    <%= f.link_to_add "Add Question", :quiz_questions %>
  </div>
  <%= render 'shared/form/related_encyclopaedia_entries', model: @quiz, f: f %>
  <%= render 'shared/form/publish', model: @quiz, f: f %>
  <%= render 'shared/form/save_buttons', f: f %>
<% end %>
