<%= nested_form_for @quiz, html: { class: 'ui form' } do |f| %>
  <%= render 'shared/error_messages', target: @quiz %>
  <div class="field">
    <%= f.label :contributor_profile_ids, 'Contributors' %>
    <%= f.collection_select :contributor_profile_ids, 
      ContributorProfile.order(:name), :id, :name, 
      { selected: @quiz.contributor_profile_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div class="field">
    <label>Questions</label>
    <div class="ui segments">
      <%= f.fields_for :quiz_questions %>
      
      <%= f.link_to_add "Add Question", :quiz_questions, class: 'ui button' %>
      
    </div>
  </div>
  <div class="field">
    <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    <%= f.collection_select :encyclopaedia_entry_ids, 
      EncyclopaediaEntry.order(:name), :id, :name, 
      { selected: @quiz.encyclopaedia_entry_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <% if policy(@quiz).permitted_attributes.include? :publish %>
    <div class="field">
      <div class="ui toggle checkbox">
        <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
      </div>
    </div>
  <% end %>
  <div class="inline fields">
    <%= f.submit 'Save and View', class: 'ui primary button' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing,
      class: 'ui button' %>
  </div>
<% end %>
