<div class="fields">
  <div class="ui segment">
    <%= f.label :content, "Question" %>
    <%= f.text_area :content, rows: 3 %>
    <%= f.fields_for :quiz_answers %>
    <%= f.link_to_add "Add Answer", :quiz_answers, class: 'ui button' %>
    <%= f.link_to_remove "Remove Question", class: 'ui negative button' %>
  </div>
</div>
