<%= form_for @poem, html: { class: 'ui form' } do |f| %>
  <%= render 'shared/error_messages', target: @poem %>
  <div class="field">
    <%= f.label :contributor_profile_ids, 'Contributors' %>
    <%= f.collection_select :contributor_profile_ids, 
      ContributorProfile.order(:name), :id, :name, 
      { selected: @poem.contributor_profile_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :content, 'Content' %>
    <%= f.text_area :content, rows: 15, class: 'data_entry' %>
    <p>
      (You may use a <a href="/markdown-syntax-guide" target="_blank">limited
      subset of Markdown</a> to format the poem's content)
    </p>
  </div>
  <div class="field">
    <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    <%= f.collection_select :encyclopaedia_entry_ids, 
      EncyclopaediaEntry.order(:name), :id, :name, 
      { selected: @poem.encyclopaedia_entry_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <% if policy(@poem).permitted_attributes.include? :publish %>
    <div class="field">
      <div class="ui toggle checkbox">
        <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
      </div>
    </div>
  <% end %>
  <div class="inline fields">
    <%= f.submit 'Save and View', class: 'ui primary button' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing,
      class: 'ui button' %>
  </div>
<% end %>
