<%= form_for [:v5, @article], html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @article %>
  <div class="form-group row">
    <%= f.label :category_id, 'Category*', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%=
        f.collection_select(
          :category_id,
          @categories,
          :id,
          :name,
          { include_blank: true },
          { class: 'form-control' }
        )
      %>
    </div>
  </div>
  <div class="form-group row">
    <%= 
      f.label(
        :contributor_profile_ids, 
        'Contributors*', 
        class: 'col-sm-2 col-form-label'
      )
    %>
    <div class="col-sm-10">
      <%=
        f.collection_select(
          :contributor_profile_ids,
          ContributorProfile.order(:name),
          :id,
          :name,
          { selected: @article.contributor_profile_ids, include_blank: true },
          { multiple: true, class: 'form-control' }
        )
      %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :name, 'Name*', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= 
      f.label(
        :description,
        'Description*',
        class: 'col-sm-2 col-form-label'
      )
    %>
    <div class="col-sm-10">
      <%= f.text_area :description, rows: 3, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :content, 'Content*', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.text_area :content, rows: 15, class: 'form-control data_entry' %>
      <small>
        You may use a <a href="/markdown-syntax-guide" target="_blank">limited
        subset of Markdown</a> to format the article's content.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Illustrations</label>
    <%= f.fields_for :illustrations do |illustration_fields| %>
      <%= render 'illustration_fields', f: illustration_fields %>
    <% end %>
    <p><%= link_to_add_association 'Add Illustration', f, :illustrations %></p>
  </div>
  <div class="form-group row">
    <%=
      f.label(
        :encyclopaedia_entry_ids,
        'Related Encyclopaedia Entries',
        class: 'col-sm-2 col-form-label'
      )
    %>
    <div class="col-sm-10">
      <%=
        f.collection_select(
          :encyclopaedia_entry_ids,
          EncyclopaediaEntry.order(:name),
          :id,
          :name,
          { selected: @article.encyclopaedia_entry_ids, include_blank: true },
          { multiple: true, class: 'form-control' }
        )
      %>
    </div>
  </div>
  <% if policy(@article).permitted_attributes.include? :publish %>
    <div class="form-check">
      <label class="form-check-label">
        <%= f.check_box :publish, class: 'form-check-input' %>
        Publish?
      </label>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
