<li class="nav-item">
  <%= link_to(
    fa_icon('facebook'),
    'https://www.facebook.com/panzerdragoonlegacy',
    class: 'nav-link'
  ) %>
</li>
<li class="nav-item">
  <%= link_to(
    fa_icon('twitter'),
    'https://www.twitter.com/panzerlegacy',
    class: 'nav-link'
  ) %>
</li>
<li class="nav-item">
  <%= link_to(
    fa_icon('youtube'),
    'https://www.youtube.com/c/thewilloftheancients',
    class: 'nav-link'
  ) %>
</li>
<li class="nav-item">
  <%= link_to(
    fa_icon('steam'),
    'https://steamcommunity.com/groups/panzerdragoonlegacy',
    class: 'nav-link'
  ) %>
</li>
<li class="nav-item">
  <%= link_to(
    fa_icon('rss'),
    news_entries_url(:atom),
    class: 'nav-link'
  ) %>
</li>
