<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Panzer Dragoon Legacy', redesign_path, class: 'navbar-brand' %>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to(
          'Home',
          redesign_path,
          class: 'nav-link'
        ) %>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          The Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @sagas.each do |saga| %>
            <% if policy(saga).show? %>
                <%=
                  link_to(
                    saga.name,
                    redesign_saga_path(saga),
                    class: 'dropdown-item'
                  )
                %>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to(
          'Encyclopaedia',
          redesign_encyclopaedia_entries_path,
          class: 'nav-link'
        ) %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discuss.panzerdragoonlegacy.com">
          Forum
        </a>
      </li>
      <%= render 'layouts/redesign/social_media_links' %>
    </ul>
    <%= render 'layouts/redesign/search_form' %>
  </div>
</nav>
