<%= form_for @download, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @download %>
  <%= render partial: 'shared/form/category',
    locals: { categories: @categories, f: f }
  %>
  <%= render partial: 'shared/form/contributors',
    locals: { model: @download, f: f }
  %>
  <fieldset>
    <%= f.label :download, 'Download' %>
    <% if @download.download? %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :download, class: 'form-control' %>
  </fieldset>
  <%= render partial: 'shared/form/name', locals: { f: f } %>
  <%= render partial: 'shared/form/description', locals: { f: f } %>
  <%= render partial: 'shared/form/extra_information', locals: { f: f } %>
  <%= render partial: 'shared/form/related_encyclopaedia_entries',
    locals: { model: @download, f: f }
  %>
  <%= render partial: 'shared/form/publish',
    locals: { model: @download, f: f }
  %>
  <%= render partial: 'shared/form/save_buttons', locals: { f: f } %>
<% end %>
