<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Downloads" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Downloads" %>
<% else %>
  <% title "Downloads" %>
<% end %>

<% if policy(Category).new? || policy(Download).new? %>
  <div class="btn-group" role="group">
    <% if policy(Category).new? %>
      <%= link_to 'New Category',
        new_category_path(category_type: :download),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Download).new? %>
      <%= link_to 'New Download',
        new_download_path,
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @categories.present? %>
    <h2>Download Categories</h2>
    <ul class="categories">
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.name, category %>
          <% unless category.publish %>
             - <span class="unpublished">Unpublished</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @downloads.present? %>
    <h2>All Downloads</h2>
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Downloads</li>
</ol>
