<h2>Downloads in this Category</h2>
<% if policy(Download).new? %>
  <%= link_to new_download_path(category: @category),
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon('upload') %> New Download
  <% end %>
<% end %>
<%= render 'downloads/list' %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_url %></li>
  <li class="breadcrumb-item"><%= link_to 'Downloads', downloads_path %></li>
  <li class="breadcrumb-item active"><%= @category.name %></li>
</ol>
