<h2>Links in this Category</h2>
<% if policy(Link).new? %>
  <%= link_to new_link_path(category: @category),
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon('link') %> New Link
  <% end %>
<% end %>
<%= render 'links/list' %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_url %></li>
  <li class="breadcrumb-item"><%= link_to 'Links', links_path %></li>
  <li class="breadcrumb-item active"><%= @category.name %></li>
</ol>
