<h2>Music Tracks in this Category</h2>
<% if policy(MusicTrack).new? %>
  <%= link_to new_music_track_path(category: @category),
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon('upload') %> New Music Track
  <% end %>
<% end %>
<%= render 'music_tracks/list' %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_url %></li>
  <li class="breadcrumb-item"><%= link_to 'Music', music_tracks_path %></li>
  <li class="breadcrumb-item active"><%= @category.name %></li>
</ol>
