<h2>Resources in this Category</h2>
<% if policy(Resource).new? %>
  <%= link_to new_resource_path(category: @category),
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon('pencil') %> New Resource
  <% end %>
<% end %>
<%= render 'resources/list' %>
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Resources', resources_path %></li>
  <li class="active"><%= @category.name %></li>
</ol>
