<h2>Stories in this Category</h2>
<% if policy(Story).new? %>
  <%= link_to new_story_path(category: @category),
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon('pencil') %> New Story
  <% end %>
<% end %>
<%= render 'stories/list' %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_url %></li>
  <li class="breadcrumb-item"><%= link_to 'Stories', stories_path %></li>
  <li class="breadcrumb-item active"><%= @category.name %></li>
</ol>
