<h2>Videos in this Category</h2>
<% if policy(Video).new? %>
  <%= link_to 'New Video',
    new_video_path(category: @category),
    { class: 'btn btn-secondary', role: 'button' }
  %>
<% end %>
<%= render 'videos/list' %>
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Videos', videos_path %></li>
  <li class="active"><%= @category.name %></li>
</ol>
