<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', target: @user %>
  <fieldset>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :contributor_profile_id, 'Contributor Profile' %>
    <%= f.collection_select :contributor_profile_id,
      @contributor_profiles,
      :id,
      :name,
      { include_blank: true },
      class: 'form-control'
    %>
  </fieldset>
  <div class="checkbox">
    <label>
      <%= f.check_box :administrator %> Administrator? (Be Careful!)
    <label>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
