<% title "Users" %>

<% if policy(User).new? %>
  <div class="ui one item stackable menu">
    <%= link_to new_user_path, class: 'item' do %>
      <i class="add user icon"></i> New User
    <% end %>
  </div>
<% end %>

<% if @users %>
  <div class="ui very relaxed list">
    <% @users.each do |user| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= user.email %></h2>
          </div>
          <dl>
            <% if user.contributor_profile %>
              <dt>Contributor Profile</dt>
              <dd>
                <%= link_to user.contributor_profile.name, 
                  contributor_profile_path(user.contributor_profile) %>
              </dd>
            <% end %>
            <dt>Administrator?</dt>
            <dd><%= user.administrator ? "Yes" : "No" %></dd>
            <dt>Confirmed?</dt>
            <dd><%= user.confirmed_at.present? ? "Yes" : "No" %></dd>
            <dt>Locked?</dt>
            <dd><%= user.locked_at.present? ? "Yes" : "No" %></dd>
          </dl>
          <% if policy(user).edit? or policy(user).destroy? %>
            <div class="ui two item stackable menu">
              <% if policy(user).edit? %>
                <%= link_to edit_user_path(user), 
                  class: 'item' do %>
                  <i class="configure icon"></i> Edit User
                <% end %>
              <% end %>
              <% if policy(user).destroy? %>
                <%= link_to user, data: { confirm: "Are you sure " +
                  "you want to delete the user " + user.email + "? This " +
                  "action will not delete the user's contributor profile." }, 
                  method: :delete, class: 'item' do %>
                  <i class="trash icon"></i> Delete User
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
<% end %>
