<%= form_for @video, html: { multipart: true } do |f| %>
  <%= render 'shared/form/error_messages', model: @video %>
  <%= render 'shared/form/category', categories: @categories, f: f %>
  <%= render 'shared/form/contributors', model: @video, f: f  %>
  <fieldset>
    <%= f.label :mp4_video, 'MP4 Video' %>
    <% if @video.mp4_video? %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :mp4_video, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :webm_video, 'WebM Video' %>
    <% if @video.webm_video? %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :webm_video, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :youtube_video_id, "YouTube Video ID" %>
    <%= f.text_field :youtube_video_id, class: 'form-control' %>
  </fieldset>
  <%= render 'shared/form/name', f: f %>
  <%= render 'shared/form/description', f: f %>
  <%= render 'shared/form/extra_information', f: f %>
  <%= render 'shared/form/related_encyclopaedia_entries', model: @video, f: f %>
  <%= render 'shared/form/publish', model: @video, f: f %>
  <%= render 'shared/form/save_buttons', f: f %>
<% end %>
