<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Videos" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Videos" %>
<% else %>
  <% title "Videos" %>
<% end %>

<% if policy(CategoryGroup).new? ||
  policy(Category).new? ||
  policy(Video).new? %>
  <div class="btn-group" role="group">
    <% if policy(CategoryGroup).new? %>
      <%= link_to new_category_group_path(category_group_type: :video),
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'tag' %> New Category Group
      <% end %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to new_category_path(category_type: :video),
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'tag' %> New Category
      <% end %>
    <% end %>
    <% if policy(Video).new? %>
      <%= link_to new_video_path,
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'upload' %> New Video
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @category_groups.present? %>
    <h2>Video Categories</h2>
    <%= render partial: 'site_map/category_groups',
      locals: { category_groups: @category_groups }
    %>
  <% end %>
  <% if @videos.present? %>
    <h2>All Videos</h2>
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Videos</li>
</ol>
