<% title @page.name %>
<% description truncated_text(@page.content) %>

<% unless @page.publish %>
  <span class="label label-warning">Unpublished</span>
<% end %>

<% if policy(Page).new? ||
  policy(@page).edit? ||
  policy(@page).destroy?
%>
  <div class="btn-group" role="group">
    <% if policy(Page).new? %>
      <%= link_to new_page_path,
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'pencil' %>New Page
      <% end %>
    <% end %>
    <% if policy(@page).edit? %>
      <%= link_to edit_page_path(@page),
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'edit' %> Edit Page
      <% end %>
    <% end %>
    <% if policy(@page).destroy? %>
      <%= link_to @page,
        data: { confirm: 'Are you sure you want to delete this page?' },
        method: :delete,
        class: 'btn btn-danger',
        role: 'button' do %>
        <%= fa_icon 'trash' %> Delete Page
      <% end %>
    <% end %>
  </div>
<% end %>

<%= raw @page.illustrated_content %>
