<%= form_for @link do |f| %>
  <%= render 'shared/error_messages', target: @link %>
  <%= render 'shared/form/category', categories: @categories, f: f %>
  <%= render 'shared/form/contributors', model: @link, f: f %>
  <div class="checkbox">
    <label>
      <%= f.check_box :partner_site %> Partner Site?
    </label>
  </div>
  <%= render 'shared/form/name', f: f %>
  <fieldset>
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url, class: 'form-control' %>
  </fieldset>
  <%= render 'shared/form/description', f: f %>
  <%= render 'shared/form/related_encyclopaedia_entries', model: @link, f: f %>
  <%= f.submit 'Save and View Index', class: 'btn btn-primary' %>
  <%= f.submit 'Save and Continue Editing',
    name: :continue_editing,
    class: 'btn btn-secondary'
  %>
<% end %>
