<%= form_for @link, html: { class: 'ui form' } do |f| %>
  <%= render 'shared/error_messages', target: @link %>
  <div class="field">
    <%= f.label :category_id, 'Category' %>
    <%= f.collection_select :category_id, @categories, :id, :name,
      { include_blank: true }, { class: 'ui search selection dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :contributor_profile_ids, 'Contributors (optional)' %>
    <%= f.collection_select :contributor_profile_ids, 
      ContributorProfile.order(:name), :id, :name, 
      { selected: @link.contributor_profile_ids, 
      include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <div class="field">
    <div class="ui toggle checkbox">
      <%= f.check_box :partner_site %> 
      <%= f.label :partner_site, 'Partner Site?' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    <%= f.collection_select :encyclopaedia_entry_ids, 
      EncyclopaediaEntry.order(:name), :id, :name, 
      { selected: @link.encyclopaedia_entry_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <div class="inline fields">
    <%= f.submit 'Save and View', class: 'ui primary button' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing,
      class: 'ui button' %>
  </div>
<% end %>
