<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Links" %>
<% else %>
  <% title "Links" %>
<% end %>

<% if policy(Category).new? || policy(Link).new? %>
  <div class="btn-group" role="group">
    <% if policy(Category).new? %>
      <%= link_to 'New Category',
        new_category_path(category_type: :link),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Link).new? %>
      <%= link_to 'New Link',
        new_link_path,
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @categories.present? %>
    <h2>Link Categories</h2>
    <ul>
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.name, category %>
          <% unless category.publish %>
             - <span class="unpublished">Unpublished</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @links.present? %>
    <h2>All Links</h2>
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Links</li>
</ol>
