<%= nested_form_for @story, html: { multipart: true, class: 'ui form' 
  } do |f| %>
  <%= render 'shared/error_messages', target: @story %>
  <div class="field">
    <%= f.label :category_id, 'Category' %>
    <%= f.collection_select :category_id, @categories, :id, :name,
      { include_blank: true }, { class: 'ui search selection dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :contributor_profile_ids, 'Contributors' %>
    <%= f.collection_select :contributor_profile_ids, 
      ContributorProfile.order(:name), :id, :name, 
      { selected: @story.contributor_profile_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 15, class: 'data_entry' %>
    <p>(You may use a <a href="/markdown-syntax-guide" target="_blank">limited
      subset of Markdown</a> to format the story's content)</p>
  </div>
  <div class="field">
    <label>Illustrations</label>
    <div class="ui segments">
      <%= f.fields_for :illustrations do |illustration_form| %>
        <div class="ui segment">
          <% if illustration_form.object.illustration_file_name.blank? %>
            <%= illustration_form.file_field :illustration %>
            <%= f.submit 'Upload and Save Story', name: :continue_editing,
              class: 'ui button' %>
          <% else %>
            <%= image_tag(
              illustration_form.object.illustration.url(:embedded)) %>
            <p>
              Filename: <%= illustration_form.object.illustration_file_name %>
            </p>
            <p>
              <%= link_to 'Popover Image',
                illustration_form.object.illustration.url(:popover) %>
            </p>
            <p>
              <%= link_to 'Original Image', 
                illustration_form.object.illustration.url %>
            </p>
            <button class="insert_tag ui button">Insert Markdown Tag</button>
          <% end %>
          <%= illustration_form.link_to_remove 'Remove illustration', 
            class: 'ui negative button' %>
        </div>
      <% end %>
      <div class="ui segment">
        <%= f.link_to_add 'Add illustration', :illustrations, 
          class: 'ui button' %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    <%= f.collection_select :encyclopaedia_entry_ids, 
      EncyclopaediaEntry.order(:name), :id, :name, 
      { selected: @story.encyclopaedia_entry_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <% if policy(@story).permitted_attributes.include? :publish %>
    <div class="field">
      <div class="ui toggle checkbox">
        <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
      </div>
    </div>
  <% end %>
  <div class="inline fields">
    <%= f.submit 'Save and View', class: 'ui primary button' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing,
      class: 'ui button' %>
  </div>
<% end %>
