<%= nested_form_for @story, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @story %>
  <fieldset>
    <%= f.label :category_id, 'Category' %>
    <%= f.collection_select :category_id,
      @categories,
      :id,
      :name,
      { include_blank: true },
      class: 'form-control'
    %>
  </fieldset>
  <fieldset>
    <%= f.label :contributor_profile_ids, 'Contributors' %>
    <%= f.collection_select :contributor_profile_ids,
      ContributorProfile.order(:name),
      :id,
      :name,
      { selected: @story.contributor_profile_ids, include_blank: true },
      { multiple: true, class: 'form-control' }
    %>
  </fieldset>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :content %>
    <%= f.text_area :content, rows: 15, class: 'data_entry form-control' %>
    <small class="text-muted">
      You may use a <a href="/markdown-syntax-guide" target="_blank">limited
      subset of Markdown</a> to format the story's content.
    </small>
  </fieldset>
  <%= render partial: 'illustrations/fields',
    locals: { illustrations: @illustrations, f: f }
  %>
  <fieldset>
    <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    <%= f.collection_select :encyclopaedia_entry_ids,
      EncyclopaediaEntry.order(:name),
      :id,
      :name,
      { selected: @story.encyclopaedia_entry_ids, include_blank: true },
      { multiple: true, class: 'form-control' }
    %>
  </fieldset>
  <% if policy(@story).permitted_attributes.include? :publish %>
    <div class="checkbox">
      <label>
        <%= f.check_box :publish %> Publish?
      </label>
    </div>
  <% end %>
  <%= f.submit 'Save and View', class: 'btn btn-primary' %>
  <%= f.submit 'Save and Continue Editing',
    name: :continue_editing,
    class: 'btn btn-secondary'
  %>
<% end %>
