<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Stories" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Stories" %>
<% else %>
  <% title "Stories" %>
<% end %>

<% if policy(Category).new? || policy(Story).new? %>
  <div class="btn-group" role="group">
    <% if policy(Category).new? %>
      <%= link_to new_category_path(category_type: :story),
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'tag' %> New Category
      <% end %>
    <% end %>
    <% if policy(Story).new? %>
      <%= link_to new_story_path,
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'pencil' %> New Story
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] || params[:filter] %>
  <% if @categories.present? %>
    <h2>Story Categories</h2>
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item">
          <%= link_to category.name, category %>
          <% unless category.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @stories.present? %>
    <h2>All Stories</h2>
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Stories</li>
</ol>
