<%= form_for @category_group, html: { class: 'ui form' } do |f| %>
  <%= render "shared/error_messages", target: @category_group %>
  <div class="field">
    <%= f.label :category_group_type, 'Category Group Type' %>
    <%= f.collection_select :category_group_type,
      CategoryGroup::CATEGORY_GROUP_TYPES, :to_s, :titleize, {}, 
      { class: 'ui search selection dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  <div class="inline fields">
    <%= f.submit 'Save and View', class: 'ui primary button' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing,
      class: 'ui button' %>
  </div>
<% end %>
