<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Resources" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Resources" %>
<% else %>
  <% title "Resources" %>
<% end %>

<% if policy(CategoryGroup).new? ||
  policy(Category).new? ||
  policy(Resource).new?
%>
  <div class="btn-group" role="group">
    <% if policy(CategoryGroup).new? %>
      <%= link_to 'New Category Group',
        new_category_group_path(category_group_type: :resource),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to 'New Category',
        new_category_path(category_type: :resource),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Resource).new? %>
      <%= link_to 'New Resource',
        new_resource_path,
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @category_groups.present? %>
    <h2>Resource Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups } %>
  <% end %>
  <% if @resources.present? %>
    <h2>All Resources</h2>
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Resources</li>
</ol>
