<% title "Site Map" %>

<% if policy(CategoryGroup).new? or policy(Category).new? %>
  <div class="ui two item stackable menu">
    <% if policy(CategoryGroup).new? %>
      <%= link_to new_category_group_path, class: 'item' do %>
        <i class="tag icon"></i> New Category
      <% end %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to new_category_path, class: 'item' do %>
        <i class="tag icon"></i> New Category Group
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="ui relaxed list">
  <div class="ui item">
    <h2><%= link_to "Articles", articles_path %></h2>
    <%= render partial: 'categories', locals: {
      categories: @article_categories } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Downloads", downloads_path %></h2>
    <%= render partial: 'categories', locals: {
      categories: @download_categories } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Encyclopaedia", encyclopaedia_entries_path %></h2>
    <%= render partial: 'category_groups', locals: {
      category_groups: @encyclopaedia_entry_category_groups } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Links", links_path %></h2>
    <%= render partial: 'categories', locals: {
      categories: @link_categories } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Music", music_tracks_path %></h2>
    <%= render partial: 'category_groups', locals: {
      category_groups: @music_track_category_groups } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Pictures", pictures_path %></h2>
    <%= render partial: 'category_groups', locals: {
      category_groups: @picture_category_groups } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Poems", poems_path %></h2>
  </div>
  <div class="ui item">
    <h2><%= link_to "Quizzes", quizzes_path %></h2>
  </div>
  <div class="ui item">
    <h2><%= link_to "Resources", resources_path %></h2>
    <%= render partial: 'category_groups', locals: {
      category_groups: @resource_category_groups } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Stories", stories_path %></h2>
    <%= render partial: 'categories', locals: {
      categories: @story_categories } %>
  </div>
  <div class="ui item">
    <h2><%= link_to "Videos", videos_path %></h2>
    <%= render partial: 'category_groups', locals: {
      category_groups: @video_category_groups } %>
  </div>
</div>
