<%= form_for @picture, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @picture %>
  <%= render 'shared/form/category', categories: @categories, f: f %>
  <%= render 'shared/form/contributors', model: @picture, f: f %>
  <fieldset>
    <%= f.label :picture, 'Picture' %>
    <% if @picture.picture? %>
      <%= image_tag @picture.picture.url(:thumbnail) %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :picture, class: 'form-control' %>
  </fieldset>
  <%= render 'shared/form/name', f: f %>
  <%= render 'shared/form/description', f: f %>
  <%= render 'shared/form/extra_information', f: f %>
  <%= render 'shared/form/related_encyclopaedia_entries',
    model: @picture,
    f: f
  %>
  <%= render 'shared/form/publish', model: @picture, f: f %>
  <%= render 'shared/form/save_buttons', f: f %>
<% end %>
