<%= form_for @picture, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @picture %>
  <%= render partial: 'shared/form/category',
    locals: { categories: @categories, f: f }
  %>
  <%= render partial: 'shared/form/contributors',
    locals: { model: @picture, f: f }
  %>
  <fieldset>
    <%= f.label :picture, 'Picture' %>
    <% if @picture.picture? %>
      <%= image_tag @picture.picture.url(:thumbnail) %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :picture, class: 'form-control' %>
  </fieldset>
  <%= render partial: 'shared/form/name', locals: { f: f } %>
  <%= render partial: 'shared/form/description', locals: { f: f } %>
  <%= render partial: 'shared/form/extra_information', locals: { f: f } %>
  <%= render partial: 'shared/form/related_encyclopaedia_entries',
    locals: { model: @picture, f: f }
  %>
  <%= render partial: 'shared/form/publish',
    locals: { model: @picture, f: f }
  %>
  <%= render partial: 'shared/form/save_buttons', locals: { f: f } %>
<% end %>
