<%= form_for @picture, html: { multipart: true, class: 'ui form' } do |f| %>
  <%= render 'shared/error_messages', target: @picture %>
  <div class="field">
    <%= f.label :category_id, 'Category' %>
    <%= f.collection_select :category_id, @categories, :id, :name,
      { include_blank: true }, { class: 'ui search selection dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :contributor_profile_ids, 'Contributors' %>
    <%= f.collection_select :contributor_profile_ids, 
      ContributorProfile.order(:name), :id, :name, 
      { selected: @picture.contributor_profile_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <div class="field">
    <%= f.label :picture, 'Picture' %>
    <% if @picture.picture? %>
      <%= image_tag @picture.picture.url(:thumbnail) %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
    <p>
      (You should refer to the <a href="/naming-convention" target="_blank">
      naming convention</a> when naming pictures)
    </p>
  </div>
  <div class="field">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :information, 'Extra Information' %>
    <%= f.text_area :information, rows: 10 %>
    <p>
      (You may use a <a href="/markdown-syntax-guide" target="_blank">limited
      subset of Markdown</a> to format the pictures's extra information)
    </p>
  </div>
  <div class="field">
    <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    <%= f.collection_select :encyclopaedia_entry_ids, 
      EncyclopaediaEntry.order(:name), :id, :name, 
      { selected: @picture.encyclopaedia_entry_ids, include_blank: true }, 
      { multiple: true, class: 'ui fluid search dropdown' } %>
  </div>
  <% if policy(@picture).permitted_attributes.include? :publish %>
    <div class="field">
      <div class="ui toggle checkbox">
        <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
      </div>
    </div>
  <% end %>
  <div class="inline fields">
    <%= f.submit 'Save and View', class: 'ui primary button' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing,
      class: 'ui button' %>
  </div>
<% end %>
