<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Pictures" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Pictures" %>
<% else %>
  <% title "Pictures" %>
<% end %>

<% if policy(CategoryGroup).new? ||
  policy(Category).new? ||
  policy(Picture).new?
%>
  <div class="btn-group" role="group">
    <% if policy(CategoryGroup).new? %>
      <%= link_to 'New Category Group',
        new_category_group_path(category_group_type: :picture),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to 'New Category',
        new_category_path(category_type: :picture),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Picture).new? %>
      <%= link_to 'New Picture',
        new_picture_path,
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
  </div>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @category_groups.present? %>
    <h2>Picture Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups } %>
    </ul>
  <% end %>
  <% if @pictures.present? %>
    <h2>All Pictures</h2>
  <% end %>
<% end %>

<%= render 'list' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Pictures</li>
</ol>
