<% title @picture.name %>
<% description @picture.description %>

<% if !@picture.publish %>
  <p class="unpublished">Unpublished</p>
<% elsif !@picture.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<% if policy(@picture).new? or policy(@picture).edit? or
  policy(@picture).destroy? %>
  <div class="ui three item stackable menu">
    <% if policy(@picture).new? %>
      <%= link_to new_picture_path, class: 'item' do %>
        <i class="upload icon"></i> New Picture
      <% end %>
    <% end %>
    <% if policy(@picture).edit? %>
      <%= link_to edit_picture_path(@picture), class: 'item' do %>
        <i class="configure icon"></i> Edit Picture
      <% end %>
    <% end %>
    <% if policy(@picture).destroy? %>
      <%= link_to @picture, data: {
        confirm: 'Are you sure you want to delete this picture?' },
        method: :delete, class: 'item' do %>
        <i class="trash icon"></i> Delete Picture
      <% end %>
    <% end %>
  </div>
<% end %>

<h2>Contributed By:</h2>
<ul>
  <% @picture.contributor_profiles.each do |contributor_profile| %>
    <li><%= link_to contributor_profile.name, contributor_profile %></li>
  <% end %>
</ul>

<%= link_to picture_tag(@picture, :embedded), @picture.picture.url %>

<p><%= link_to "View Full Size", @picture.picture.url %></p>

<p><%= @picture.description %></p>

<% unless @picture.information.blank? %>
  <%= raw markdown_to_html @picture.information %>
<% end %>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links">
  <%= link_to 'Pictures', pictures_path %> |
  <%= link_to @picture.category.name, category_path(@picture.category) %>
</p>
