<%= nested_form_for @chapter, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @chapter %>
  <fieldset>
    <%= f.label :story_id, 'Story' %>
    <%= f.collection_select :story_id,
      Story.order(:name),
      :id,
      :name,
      {},
      class: 'form-control'
    %>
  </fieldset>
  <fieldset>
    <%= f.label :chapter_type, 'Chapter Type' %>
    <%= f.collection_select :chapter_type,
      Chapter::CHAPTER_TYPES,
      :to_s,
      :titleize,
      {},
      class: 'form-control'
    %>
  </fieldset>
  <fieldset>
    <%= f.label :number, 'Number' %>
    <%= f.number_field :number, { min: 1, max: 99, class: 'form-control' } %>
    <small class="text-muted">
      Enter 1 for the prologue or epilogue, 2 for a second prologue/epilogue.
      Regular chapters are numbered as you would expect.
    </small>
  </fieldset>
  <fieldset>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :content, 'Content' %>
    <%= f.text_area :content, rows: 15, class: 'data_entry form-control' %>
    <small class="text-muted">
      You may use a <a href="/markdown-syntax-guide" target="_blank">limited
      subset of Markdown</a> to format the chapter's content.
    </small>
  </fieldset>
  <%= render partial: 'illustrations/fields',
    locals: { illustrations: @illustrations, f: f }
  %>
  <%= f.submit 'Save and View', class: 'btn btn-primary' %>
  <%= f.submit 'Save and Continue Editing',
    name: :continue_editing,
    class: 'btn btn-secondary'
   %>
<% end %>
