<% if @chapter_count > 0 %>
  <ul class="media-list">
    <% @prologues.each do |prologue| %>
      <li class="media">
        <div class="media-body">
          <h2>
            <%= link_to prologue.story.name + ": " + prologue.name,
              chapter_path(prologue)
            %>
          </h2>
          <% unless prologue.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= truncated_text prologue.content %></p>
        </div>
      </li>
    <% end %>
    <% @regular_chapters.each do |regular_chapter| %>
      <li class="media">
        <div class="media-body">
          <% if regular_chapter.name.present? %>
            <h2>
              <%= link_to regular_chapter.story.name + ": " + "Chapter " +
                regular_chapter.number.to_s + ": " + regular_chapter.name,
                chapter_path(regular_chapter)
              %>
            </h2>
          <% else %>
            <h2>
              <%= link_to regular_chapter.story.name + ": " + "Chapter " +
                regular_chapter.number.to_s,
                chapter_path(regular_chapter)
              %>
            </h2>
          <% end %>
          <% unless regular_chapter.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= truncated_text regular_chapter.content %></p>
        </div>
      </li>
    <% end %>
    <% @epilogues.each do |epilogue| %>
      <li class="media">
        <div class="media-body">
          <h2>
            <%= link_to epilogue.story.name + ": " + epilogue.name,
              chapter_path(epilogue)
            %>
          </h2>
          <% unless epilogue.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= truncated_text epilogue.content %></p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
