<% if params[:filter] == 'draft' %>
  <% title "Draft Categories" %>
<% else %>
  <% title "Categories" %>
<% end %>

<% if policy(CategoryGroup).new? || policy(Category).new? %>
  <div class="btn-group" role="group">
    <% if policy(CategoryGroup).new? %>
      <%= link_to new_category_group_path,
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'tag' %> New Category Group
      <% end %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to new_category_path,
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'tag' %> New Category
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render 'list' %>
