<% title @category.name %>
<% description @category.description %>

<% unless @category.publish %>
  <span class="label label-warning">Unpublished</span>
<% end %>

<% if policy(CategoryGroup).new? ||
  policy(Category).new? ||
  policy(@category).edit? ||
  policy(@category).destroy?
%>
  <div class="btn-group" role="group">
    <% if policy(CategoryGroup).new? %>
      <%= link_to new_category_group_path,
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'tag' %> New Category Group
      <% end %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to new_category_path,
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'tag' %> New Category
      <% end %>
    <% end %>
    <% if policy(@category).edit? %>
      <%= link_to edit_category_path(@category),
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'edit' %> Edit Category
      <% end %>
    <% end %>
    <% if policy(@category).destroy? %>
      <%= link_to @category,
        data: { confirm: 'Are you sure you want to delete this category?' },
        method: :delete,
        class: 'btn btn-danger',
        role: 'button' do %>
        <%= fa_icon 'trash' %> Delete Category
      <% end %>
    <% end %>
  </div>
<% end %>

<%= @category.description %>

<%= render 'categories/show/articles', articles: @articles if @articles %>
<%= render 'categories/show/downloads', downloads: @downloads if @downloads %>
<% if @encyclopaedia_entries %>
  <%= render 'categories/show/encyclopaedia_entries',
    encyclopaedia_entries: @encyclopaedia_entries
  %>
<% end %>
<%= render 'categories/show/links', links: @links if @links %>
<% if @music_tracks %>
  <%= render 'categories/show/music_tracks', music_tracks: @music_tracks %>
<% end %>
<%= render 'categories/show/pictures', pictures: @pictures if @pictures %>
<%= render 'categories/show/resources', resources: @resources if @resources %>
<%= render 'categories/show/stories', stories: @stories if @stories %>
<%= render 'categories/show/videos', videos: @videos if @videos %>
