<% title @category.name %>
<% description @category.description %>

<% unless @category.publish %>
  <span class="label label-warning">Unpublished</span>
<% end %>

<% if policy(CategoryGroup).new? ||
  policy(Category).new? ||
  policy(@category).edit? ||
  policy(@category).destroy?
%>
  <div class="btn-group" role="group">
    <% if policy(CategoryGroup).new? %>
      <%= link_to 'New Category Group',
        new_category_group_path,
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to 'New Category',
        new_category_path,
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(@category).edit? %>
      <%= link_to 'Edit Category',
        edit_category_path(@category),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(@category).destroy? %>
      <%= link_to 'Delete Category',
        @category,
        data: { confirm: 'Are you sure you want to delete this category?' },
        method: :delete,
        class: 'btn btn-danger',
        role: 'button'
      %>
    <% end %>
  </div>
<% end %>

<%= @category.description %>

<% if @articles %>
  <%= render partial: 'articles', locals: { articles: @articles } %>
<% end %>

<% if @downloads %>
  <%= render partial: 'downloads', locals: { downloads: @downloads } %>
<% end %>

<% if @encyclopaedia_entries %>
  <%= render partial: 'encyclopaedia_entries',
    locals: { encyclopaedia_entries: @encyclopaedia_entries }
  %>
<% end %>

<% if @links %>
  <%= render partial: 'links', locals: { links: @links } %>
<% end %>

<% if @music_tracks %>
  <%= render partial: 'music_tracks',
    locals: { music_tracks: @music_tracks }
  %>
<% end %>

<% if @pictures %>
  <%= render partial: 'pictures', locals: { pictures: @pictures } %>
<% end %>

<% if @resources %>
  <%= render partial: 'resources', locals: { resources: @resources } %>
<% end %>

<% if @stories %>
  <%= render partial: 'stories', locals: { stories: @stories } %>
<% end %>

<% if @videos %>
  <%= render partial: 'videos', locals: { videos: @videos } %>
<% end %>
