<%= form_for @contributor_profile, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @contributor_profile %>
  <%= render partial: 'shared/form/name', locals: { f: f } %>
  <fieldset>
    <%= f.label :email_address, 'Email Address' %>
    <%= f.email_field :email_address, class: 'form-control' %>
    <small class="text-muted">
      Only administrators can see this field. Recorded in case we need to
      contact the contributor.
    </small>
  </fieldset>
  <fieldset>
    <%= f.label :discourse_username, 'Discourse Username' %>
    <%= f.text_field :discourse_username, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :avatar, "Avatar" %>
    <% if @contributor_profile.avatar? %>
      <%= image_tag @contributor_profile.avatar.url(:thumbnail) %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :website, 'Website' %>
    <%= f.text_field :website, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :facebook_username, 'Facebook Username' %>
    <%= f.text_field :facebook_username, class: 'form-control' %>
  </fieldset>
  <fieldset>
    <%= f.label :twitter_username, 'Twitter Username' %>
    <%= f.text_field :twitter_username, class: 'form-control' %>
  </fieldset>
  <%= render partial: 'shared/form/publish',
    locals: { model: @contributor_profile, f: f }
  %>
  <%= render partial: 'shared/form/save_buttons', locals: { f: f } %>
<% end %>
