<% title "Contributors" %>

<% if policy(ContributorProfile).new? %>
  <%= link_to new_contributor_profile_path,
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon 'user' %> New Contributor Profile
   <% end %>
<% end %>

<% if @contributor_profiles %>
  <ul class="media-list">
    <% @contributor_profiles.each do |contributor_profile| %>
      <li class="media">
        <div class="media-left">
          <% if contributor_profile.avatar_file_name.blank? %>
            <%= image_tag("default-avatar.jpg") %>
          <% else %>
            <%= image_tag contributor_profile.avatar.url(:thumbnail) %>
          <% end %>
        </div>
        <div class="media-body">
          <h2>
            <%= link_to contributor_profile.name,
              contributor_profile
            %>
          </h2>
          <% unless contributor_profile.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p>
            <%= pluralize(website_contributions_count(contributor_profile),
              'website contribution')
            %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @contributor_profiles %>
<% end %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_url %></li>
  <li class="breadcrumb-item active">Contributors</li>
</ol>
