<% title "Contributors" %>

<% if policy(ContributorProfile).new? %>
  <ul class="administration">
    <li>
      <%= link_to 'New Contributor Profile', new_contributor_profile_path %>
    </li>
  </ul>
<% end %>

<% if @contributor_profiles %>
  <div class="ui very relaxed list">
    <% @contributor_profiles.each do |contributor_profile| %>
      <div class="item">
        <div class="content">
          <% if contributor_profile.avatar_file_name.blank? %>
            <%= image_tag("default-avatar.jpg") %>
          <% else %>
            <%= image_tag contributor_profile.avatar.url(:thumbnail) %>
          <% end %>
          <h2><%= link_to contributor_profile.name, contributor_profile %></h2>
          <p>
            <%= pluralize(website_contributions_count(contributor_profile),
              'website contribution')
            %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @contributor_profiles %>
<% end %>
