<% title @contributor_profile.name %>

<% unless @contributor_profile.publish %>
  <span class="label label-warning">Unpublished</span>
<% end %>

<% if policy(@contributor_profile).edit? %>
  <%= link_to edit_contributor_profile_path(@contributor_profile),
    { class: 'btn btn-secondary', role: 'button' } do %>
    Edit Contributor Profile
  <% end %>
<% end %>

<%= render 'contributor_profiles/show/information',
  contributor_profile: @contributor_profile
%>

<%= render 'contributor_profiles/show/contributions',
  contributor_profile: @contributor_profile
%>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_url %></li>
  <li class="breadcrumb-item"><%= link_to 'Contributors', contributor_profiles_path %></li>
  <li class="breadcrumb-item active"><%= @contributor_profile.name %></li>
</ol>
