<% title @contributor_profile.name %>

<% unless @contributor_profile.publish %>
  <span class="label label-warning">Unpublished</span>
<% end %>

<% if policy(@contributor_profile).edit? %>
  <%= link_to 'Edit Contributor Profile',
    edit_contributor_profile_path(@contributor_profile),
    { class: 'btn btn-secondary', role: 'button' }
  %>
<% end %>

<%= render 'information', contributor_profile: @contributor_profile %>

<%= render 'contributions', contributor_profile: @contributor_profile %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Contributors', contributor_profiles_path %></li>
  <li class="active"><%= @contributor_profile.name %></li>
</ol>
