<% title "Sagas" %>

<% if policy(Saga).new? %>
  <%= link_to new_saga_path,
    { class: 'btn btn-secondary', role: 'button' } do %>
    <%= fa_icon 'tag' %> New Saga
  <% end %>
<% end %>

<% if @sagas %>
  <ul class="media-list">
    <% @sagas.each do |saga| %>
      <li class="media">
        <div class="media-body">
          <h2><%= saga.sequence_number %>. <%= saga.name %></h2>
          <% if policy(saga).edit? || policy(saga).destroy? %>
            <div class="btn-group" role="group">
              <% if policy(saga).edit? %>
                <%= link_to edit_saga_path(saga),
                  { class: 'btn btn-secondary', role: 'button' } do %>
                  <%= fa_icon 'edit' %> Edit Saga
                <% end %>
              <% end %>
              <% if policy(saga).destroy? %>
                <%= link_to saga,
                  data: { confirm: 'Are you sure?' },
                  method: :delete,
                  class: 'btn btn-danger',
                  role: 'button' do %>
                  <%= fa_icon 'trash' %> Delete Saga
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @sagas %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Sagas</li>
</ol>
