<% title "Sagas" %>

<% if policy(Saga).new? %>
  <ul class="administration">
    <li><%= link_to 'New Saga', new_saga_path %></li>
  </ul>
<% end %>

<% if @sagas %>
  <div class="ui very relaxed list">
    <% @sagas.each do |saga| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <h2><%= saga.sequence_number %>. <%= saga.name %></h2>
          </div>
          <% if policy(saga).edit? and policy(saga).destroy? %>
            <ul class="administration">
              <li><%= link_to 'Edit Saga', edit_saga_path(saga) %></li>
              <li>
                <%= link_to 'Delete Saga', saga, data: {
                  confirm: 'Are you sure?' }, method: :delete %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @sagas %>
<% end %>
