<%= nested_form_for @encyclopaedia_entry, html: { multipart: true } do |f| %>
  <%= render 'shared/form/error_messages', model: @encyclopaedia_entry %>
  <%= render 'shared/form/category', categories: @categories, f: f %>
  <fieldset>
    <%= f.label :contributor_profile_ids, 'Contributors' %>
    <%= f.collection_select :contributor_profile_ids,
      ContributorProfile.order(:name),
      :id,
      :name,
      { selected: @encyclopaedia_entry.contributor_profile_ids,
      include_blank: true },
      { multiple: true, class: 'form-control' }
    %>
    <small class="text-muted">
      Contributors are not publicly displayed next to encyclopaedia entries.
      This field is used to grant the contributor access to the unpublished
      encyclopaedia entry.
    </small>
  </fieldset>
  <fieldset>
    <%= f.label :encyclopaedia_entry_picture, 'Encyclopaedia Entry Picture' %>
    <% if @encyclopaedia_entry.encyclopaedia_entry_picture? %>
      <%= image_tag(
        @encyclopaedia_entry.encyclopaedia_entry_picture.url(:thumbnail)
      ) %>
      <p>File has already been uploaded. Replace file?</p>
    <% end %>
    <%= f.file_field :encyclopaedia_entry_picture, class: 'form-control' %>
  </fieldset>
  <%= render 'shared/form/name', f: f %>
  <fieldset>
    <%= f.label :information, 'Information Box' %>
    <%= f.text_area :information, rows: 10, class: 'form-control' %>
    <small class="text-muted">
      Use a <a href="/markdown-syntax-guide" target="_blank">Markdown
      description list</a> to format the encyclopaedia entry's information box.
    </small>
  </fieldset>
  <%= render 'shared/form/content', f: f %>
  <%= render 'shared/form/illustrations', illustrations: @illustrations, f: f %>
  <%= render 'encyclopaedia_entries/form/related_articles',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_downloads',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_links',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_music_tracks',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_pictures',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_poems',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_quizzes',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_resources',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_stories',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'encyclopaedia_entries/form/related_videos',
    encyclopaedia_entry: @encyclopaedia_entry,
    f: f
  %>
  <%= render 'shared/form/publish', model: @encyclopaedia_entry, f: f %>
  <%= render 'shared/form/save_buttons', f: f %>
<% end %>
