<% if @encyclopaedia_entries %>
  <ul class="media-list">
    <% @encyclopaedia_entries.each do |encyclopaedia_entry| %>
      <li class="media">
        <div class="media-left">
          <% if encyclopaedia_entry.encyclopaedia_entry_picture_file_name.
            blank?
          %>
            <%= image_tag "sorry-no-image-thumbnail.jpg",
              alt: "Sorry No Image",
              width: "150",
              height: "150"
             %>
          <% else %>
            <%= link_to encyclopaedia_entry_picture_tag(
                encyclopaedia_entry,
                :thumbnail
              ),
              encyclopaedia_entry
            %>
          <% end %>
        </div>
        <div class="media-body">
          <h2><%= link_to encyclopaedia_entry.name, encyclopaedia_entry %></h2>
          <% unless encyclopaedia_entry.publish %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
          <p><%= truncated_text encyclopaedia_entry.content %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @encyclopaedia_entries %>
<% end %>
