<% if params[:filter] == 'draft' %>
  <% title "Draft Encyclopaedia Entries" %>
<% else %>
  <% title "Encyclopaedia" %>
<% end %>

<% if policy(CategoryGroup).new? ||
  policy(Category).new? ||
  policy(EncyclopaediaEntry).new?
%>
  <div class="btn-group" role="group">
    <% if policy(CategoryGroup).new? %>
      <%= link_to 'New Category Group',
        new_category_group_path(category_group_type: :encyclopaedia_entry),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(Category).new? %>
      <%= link_to 'New Category',
        new_category_path(category_type: :encyclopaedia_entry),
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
    <% if policy(EncyclopaediaEntry).new? %>
      <%= link_to 'New Encyclopaedia Entry',
        new_encyclopaedia_entry_path,
        { class: 'btn btn-secondary', role: 'button' }
      %>
    <% end %>
  </div>
<% end %>

<% if @category_groups.present? %>
  <h2>Encyclopaedia Categories</h2>
  <%= render partial: 'site_map/category_groups', locals: {
    category_groups: @category_groups } %>
<% end %>

<% if @encyclopaedia_entries.present? %>
  <% unless params[:filter] %>
    <h2>All Encyclopaedia Entries</h2>
  <% end %>
  <%= render 'list' %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li class="active">Encyclopaedia</li>
</ol>
