<% title @encyclopaedia_entry.name %>
<% description truncated_text(@encyclopaedia_entry.content) %>

<% if !@encyclopaedia_entry.publish %>
  <span class="label label-warning">Unpublished</span>
<% elsif !@encyclopaedia_entry.category.publish %>
  <span class="label label-warning">Published in Unpublished Category</span>
<% end %>

<% if policy(EncyclopaediaEntry).new? ||
  policy(@encyclopaedia_entry).edit? ||
  policy(@encyclopaedia_entry).destroy? %>
  <div class="btn-group" role="group">
    <% if policy(EncyclopaediaEntry).new? %>
      <%= link_to new_encyclopaedia_entry_path(category: @encyclopaedia_entry.category),
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'pencil' %> New Encyclopaedia Entry
      <% end %>
    <% end %>
    <% if policy(@encyclopaedia_entry).edit? %>
      <%= link_to edit_encyclopaedia_entry_path(@encyclopaedia_entry),
        { class: 'btn btn-secondary', role: 'button' } do %>
        <%= fa_icon 'edit' %> Edit Encyclopaedia Entry
      <% end %>
    <% end %>
    <% if policy(@encyclopaedia_entry).destroy? %>
      <%= link_to @encyclopaedia_entry,
        data: {
          confirm: 'Are you sure you want to delete this encyclopaedia entry?'
        },
        method: :delete,
        class: 'btn btn-danger',
        role: 'button' do %>
        <%= fa_icon 'trash' %> Delete Encyclopaedia Entry
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render 'encyclopaedia_entries/show/information',
  encyclopaedia_entry: @encyclopaedia_entry
%>

<%= raw illustrated_markdown_to_html @encyclopaedia_entry.id,
  "EncyclopaediaEntry", @encyclopaedia_entry.content %>

<% unless @articles.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_articles',
    articles: @articles
  %>
<% end %>
<% unless @downloads.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_downloads',
    downloads: @downloads
  %>
<% end %>
<% unless @links.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_links', links: @links %>
<% end %>
<% unless @music_tracks.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_music_tracks',
    music_tracks: @music_tracks
  %>
<% end %>
<% unless @pictures.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_pictures',
    pictures: @pictures
  %>
<% end %>
<% unless @poems.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_poems', poems: @poems %>
<% end %>
<% unless @quizzes.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_quizzes', quizzes: @quizzes %>
<% end %>
<% unless @resources.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_resources',
    resources: @resources
  %>
<% end %>
<% unless @stories.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_stories', stories: @stories %>
<% end %>
<% unless @videos.count == 0 %>
  <%= render 'encyclopaedia_entries/show/related_videos', videos: @videos %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Encyclopaedia', encyclopaedia_entries_path %></li>
  <li>
    <%= link_to @encyclopaedia_entry.category.name,
      category_path(@encyclopaedia_entry.category)
    %>
  </li>
  <li class="active"><%= @encyclopaedia_entry.name %></li>
</ol>
