<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">PDL</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <%= link_to "Site Map", site_map_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Encyclopaedia",
        encyclopaedia_entries_path,
        class: 'nav-link'
      %>
    </li>
    <li class="nav-item">
      <%= link_to "Forum",
        "http://discuss.panzerdragoonlegacy.com", class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Contributors",
        contributor_profiles_path,
        class: 'nav-link'
      %>
    </li>
    <li class="nav-item">
      <%= link_to "How to Contribute",
        "/how-to-contribute",
        class: 'nav-link'
      %>
    </li>
    <li class="nav-item">
      <%= link_to fa_icon("facebook"),
        "https://www.facebook.com/panzerdragoonlegacy",
        class: 'nav-link'
      %>
    </li>
    <li class="nav-item">
    	<%= link_to fa_icon("twitter"),
    	  "https://www.twitter.com/panzerlegacy",
        class: 'nav-link'
      %>
    </li>
    <li class="nav-item">
    	<%= link_to fa_icon("youtube"),
    	  "https://www.youtube.com/c/thewilloftheancients",
        class: 'nav-link'
      %>
    </li>
    <li class="nav-item">
    	<%= link_to fa_icon("steam"),
    	  "https://steamcommunity.com/groups/panzerdragoonlegacy",
        class: 'nav-link'
      %>
    </li>
    <li class="nav-item">
    	<%= link_to fa_icon("rss"), news_entries_url(:atom), class: 'nav-link' %>
    </li>
  </ul>
  <%= form_tag searches_path,
    method: :post,
    id: "search",
    class: 'form-inline pull-xs-right' do %>
    <%= text_field_tag :query,
      nil,
      placeholder: "Search...",
      class: 'form-control' %>
  <% end %>
</nav>
