<!DOCTYPE html>
<html>
  <head>
    <title>Panzer Dragoon Legacy - <%= yield(:title) %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= yield(:description) %>" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= auto_discovery_link_tag(:atom, news_entries_path(:atom)) %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="overall">
      <%= render 'illustrations/popover' %>
      <div id="header">
        <%= link_to image_tag("logo.png", id: "logo",
          alt: "Panzer Dragoon Legacy"), root_url %>
        <%= render 'layouts/social_media_links' %>
      </div>
      <div id="banner"></div>
      <div id="navigation">
        <%= render 'layouts/top_navigation' %>
      </div>
      <div id="main">
        <div id="aside">
          <%= render 'layouts/left_navigation',
            sagas: @sagas,
            partner_sites: @partner_sites
          %>
        </div>
        <div id="content">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
          <h1><%= yield(:title) %></h1>
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <%= render 'layouts/bottom_navigation' %>
      </div>
    </div>
  </body>
</html>
