<%= form_for @news_entry do |f| %>
  <%= render "shared/error_messages", target: @news_entry %>
  <fieldset>
    <%= f.label :contributor_profile_id, "Author" %>
    <%= f.collection_select :contributor_profile_id,
      ContributorProfile.order(:name),
      :id,
      :name,
      { include_blank: false },
      class: 'form-control'
    %>
  </fieldset>
  <fieldset>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, class: 'form-control' %>
    <small class="text-muted">
      News entry names are limited to 55 characters and should describe the
      entry's content. The name should not end with a punctuation mark. All
      important words should start a capital letter, e.g. "Crimson Dragon:
      Side Story is Currently Unavailable".
    </small>
  </fieldset>
  <fieldset>
    <%= f.label :content, 'Content' %>
    <%= f.text_area :content, rows: 15, class: 'data_entry form-control' %>
    <small class="text-muted">
      You may use a <a href="/markdown-syntax-guide" target="_blank">limited
      subset of Markdown</a> to format the news entry's content.
    </small>
  </fieldset>
  <% if policy(@news_entry).permitted_attributes.include? :publish %>
    <div class="checkbox">
      <label>
        <%= f.check_box :publish %> Publish?
      </label>
      <small class="text-muted">
        This news entry will be automatically posted to Twitter the first time
        that it is published. The tweet will then be posted to Facebook
        automatically by Twitter.
      </small>
    </div>
  <% end %>
  <%= f.submit 'Save and View', class: 'btn btn-primary' %>
  <%= f.submit 'Save and Continue Editing',
    name: :continue_editing,
    class: 'btn btn-secondary'
  %>
<% end %>
